body {
    font-family: Arial, sans-serif;
    background-color: #808080;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 300px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.task-list {
    padding: 20px;
    width: 100%;
}

h1 {
    color: #808080;
    text-align: center;
}

p {
    color: #808080;
    font-size: 14px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-name {
    cursor: pointer;
    font-size: 18px;
}

.delete-button {
    background: none;
    border: none;
    font-size: 18px;
    color: #808080;
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
    color: #888;
}

.add-task {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #f9f3f3;
    border-radius: 5px;
    width: 70%;
}

button {
    background-color: #424242;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

.mark-all-complete {
    margin-top: 10px;
    text-align: center;
}

.mark-all-complete button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

